.sub-title {
	font-weight: lighter;
    font-size: 14px;
    color: #9a9898;
}

/*About me*/
.about-me {
	color: #d6d5d5;
	font-size: 1.5em;
}

.bold-text {
	color: #FFFFFF;
}

.about-me-intro {
	color: #d6d5d5;
	font-size: 1.25em;
}
.center{
	text-align: center;
}